.type {
    overflow: hidden;
    white-space: nowrap;
    border-right: solid 5px white;
    animation: typing 5s steps(25) infinite alternate;

}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 104.5%;
    }
}
